name: gen_pr
on:
  create
jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: git fetch --prune
    - name: Create Log
      id: changelog
      uses: yanamura/git-merge-diff@v1
      with:
        from: latest
        to: HEAD
    - uses: actions/github-script@v1
      if: startsWith(github.ref, 'refs/heads/release-')
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          console.log(process.env)
          github.pulls.create({
            owner: context.repo.owner,
            repo: context.repo.repo,
            title: `Release${context.ref.replace('refs/heads/release','')}`,
            head: context.ref.replace('refs/heads/',''),
            base: 'master',
            body: process.env.PR_BODY
          })
      env:
        PR_BODY: ${{ steps.changelog.outputs.diff }}
