name: Generate Release Pull Request
on:
  create:
jobs:
  pr:
    if: startsWith(github.ref, 'refs/heads/release-')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Create Log
      id: changelog
      uses: yanamura/git-merge-diff@v1
      with:
        from: latest
        to: HEAD
    - uses: actions/github-script@v6
      with:
        github-token: ${{secrets.BOT_TOKEN}}
        script: |
          console.log(process.env)
          github.rest.pulls.create({
            owner: context.repo.owner,
            repo: context.repo.repo,
            title: `Release${context.ref.replace('refs/heads/release','')}`,
            head: context.ref.replace('refs/heads/',''),
            base: 'master',
            body: process.env.PR_BODY
          })
      env:
        PR_BODY: ${{ steps.changelog.outputs.diff }}
