name: Pull Req Reservation

on:
  pull_request:
    types: [labeled]
jobs:
  to-ready:
    if: github.event.label.name == 'monday'
    runs-on: ubuntu-latest
    steps:
    - uses: octokit/graphql-action@v2.2.10
      with:
        query: |
          mutation($prid: String!) {
            markPullRequestReadyForReview(input: {pullRequestId: $prid}) {
               clientMutationId
            }
          }
        prid: ${{ github.event.number }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
