name: Pull Req Reservation

on:
  pull_request:
    types: [labeled]
jobs:
  to-ready:
    if: github.event.label.name == 'monday'
    runs-on: ubuntu-latest
    steps:
    - uses: octokit/graphql-action@v2.2.10
      id: hoge
      with:
        query: |
          query($pr: Int!, $owner:String!,$repo:String!) {
            repository(owner: $owner, name: $repo) {
              pullRequest(number: $pr) {
                id
              }
            }
          }
        owner: ${{ github.repository_owner }}
        repo: ${{ github.event.repository.name }}
        pr: ${{ github.event.number }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: "echo 'latest release: ${{ steps.hoge.outputs.data }}'"
    - uses: octokit/graphql-action@v2.2.10
      id: huga
      with:
        query: |
          mutation($id: ID!) {
            markPullRequestReadyForReview(input: {pullRequestId: $id}) {
               pullRequest
            }
          }
        id: 'MDExOlB1bGxSZXF1ZXN0NDc3MDYyMTgw'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: "echo 'latest release: ${{ steps.huga.outputs.data }}'"
