name: prbody
on:
  pull_request:
    types: [labeled]
jobs:
  automerge:
    if: github.event.label.name == 'body'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@v2
      id: pr-body
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          console.log(context.issue)
          return await github.pulls.get({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number
          }).body
    - name: result
      run: echo ${{steps.pr-body.outputs.result}}
