name: prbody
on:
  pull_request:
    types: [labeled]
jobs:
  automerge:
    if: github.event.label.name == 'body'
    runs-on: ubuntu-latest
    steps:
    - name: Date
      id: release_date
      uses: ./.github/scripts/release_date.sh
    - name: hoge
      run: echo ${{steps.release_date.outputs.release_date}}
    - uses: actions/github-script@v2
      id: pr-body
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          console.log(context.issue)
          const result = await github.pulls.get({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number
          })
          return result.data.body
    - name: result
      run: echo ${{steps.pr-body.outputs.result}}
