name: Release

on:
  create:
    tags:
      - 'v*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow
      - name: Create Log
        id: changelog
        uses: yanamura/git-merge-diff@v1
      - name: Date
        id: release_date
        run: ./.github/scripts/release_date.sh
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.changelog.outputs.diff}}
            ${{ steps.release_date.outputs.release_date}}
          draft: false
          prerelease: false
