name: Release Note

on:
  push:
    tags:
      - 'v*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create Log
        id: changelog
        uses: yanamura/git-merge-diff@v1
      - name: Date
        uses: actions/github-script@v2
        id: release_date
        with:
          result-encoding: string
          script: |
            const today = new Date();
            let tomorrow = new Date();
            tomorrow.setDate(new Date().getDate()+1);
            let dftomorrow = new Date();
            dftomorrow.setDate(new Date().getDate()+2);
            return `
              ## 公開日
              公開日 | 範囲
              --- | ---
              ${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()} | 1%
              ${tomorrow.getFullYear()}/${tomorrow.getMonth()+1}/${tomorrow.getDate()} | 1%
              ${dftomorrow.getFullYear()}/${dftomorrow.getMonth()+1}/${dftomorrow.getDate()} | 1%
            `
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.release_date.outputs.result }}
          draft: false
          prerelease: false
