# This is a basic workflow to help you get started with Actions

name: Vup

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    types: [opened]

jobs:
  versionup:
    if: startsWith(github.event.pull_request.title, 'Release')
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: mdecoleman/pr-branch-name@1.0.0
      id: vars
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - run: echo ${{ steps.vars.outputs.branch }}
    - uses: yanamura/ios-bump-version@b10613df320d414c7a6aa3ede02ea3216e94f781
    - name: run
      run: |
        echo ${{ steps.vars.outputs.branch }}
        git diff
        git config --global user.name "yanamura"
        git config --global user.email "yanamura3@gmail.com"
        git fetch -p
        git checkout ${{ steps.vars.outputs.branch }}
        git add .
        git commit -m "build version ++"
        git push origin ${{ steps.vars.outputs.branch }}