# This is a basic workflow to help you get started with Actions

name: Vup

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request_review_comment:
    types: [created]
jobs:
  test:
    if: contains(github.event.comment.body, '#increment')
    runs-on: ubuntu-latest
    steps:
    - uses: yanamura/ios-bump-version@v1
    - name: run
      run: |
        git diff