# This is a basic workflow to help you get started with Actions

name: Vup

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request_review_comment:
    types: [created]
jobs:
  test:
    if: contains(github.event.comment.body, '#increment')
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: yanamura/ios-bump-version@v1.0.1
    - name: run
      run: |
        git diff
        git config --global user.name "yanamura"
        git config --global user.email "yanamura3@gmail.com"
        git checkout ${GITHUB_REF##*/}
        git add .
        git commit -m "build version ++"
        git push origin ${GITHUB_REF##*/}